{{>headLink}}
{{>header}}
<div class="about">
    <h2>Welcome to the about page</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo itaque nesciunt cupiditate animi aliquid vero libero nihil assumenda mollitia dolor ratione, in nulla sunt! Eligendi deleniti id temporibus, distinctio eos doloremque iusto minus libero unde ex, tempora expedita debitis.</p>
    <button class="about-button"><a href="/">Home</a></button>
</div>
{{>footer}}