{{>headLink}}
<body>

    {{>header}}

    <div class="home">
        <div class="image">
            <img src="https://www.shutterstock.com/image-photo/weather-forecast-background-climate-change-260nw-2094759079.jpg" alt="weather-pic">
        </div>
        <div class="home-details">
                <h3>Welcome To The Weather App</h3>
                <h1>Get The Latest <span class="span">Weather</span> Info Of Your City</h1>
                <button class="button"><a href="/weather">Check Now</a></button>
        </div>
    </div>
      {{>footer}}
</body>
</html>