*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    /* border: 2px solid black; */
    width: 100vw;
    height: 16vh;
    display: grid;
    grid-template-columns: 10vw 60vw 7vw 7vw 7vw;
    /* justify-items: center; */
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(13, 13, 44);
    list-style: none;
    color: #fff;
}
.navbar a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
    color: #3498db;
}
.heading{
    grid-column-start: 1;
    grid-column-end: 3;  
    margin-left: 10vw;
    
}

/* //homepage css// */
body{
    background-color: rgb(210, 220, 224);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.home{
    display: flex;
    /* border: 2px solid black; */
    margin-top: 20vh;
    justify-content: center;
    /* align-items: center; */
}
.image img{
    width: 35vw;
    height: 28vh;
    margin-left: 5vw;
}
.home-details{
    margin-left: 7vw;
    font-size: 1.3vw;
    color: rgb(20, 18, 18);
}
.home-details h3, h1, button{
    margin-top: 2.5vh;
}
.span{
    color: blue;
}
.button{
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button a{
    text-decoration: none;
    color: #fff;
}
 /* .button:hover{
    background-color: #ffffff;
    color: #3498db;
 }   */

/* footercss
 */

 .footer{
    background-color:  rgb(13, 13, 44);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin-top: auto;
 }

 /* about page */

 .about{
    margin-top: 10vh;
    text-align: center;
 }
 .about p{
    margin-top: 3vh;
 }
 .about-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
 }
 .about-button a{
    text-decoration: none;
    color: #fff;
 }
 /* error page */
 .error{
    text-align: center;
    margin-top: auto;
 }


/* weather-page */
.input-form{
    margin: 30px auto;
}
.input-city{
    width: 40vw;
    padding: 5px;
    border-radius: 10px;
    background-color: #010f18;
    color: #fff;
}
.submit-button{
    border: none;
    width: 4vw;
    padding: 6.5px;
    border-radius: 10px;
    background-color: #085f99;
    color: #fff;
}
.weather-info{
    border: 2px solid black;
    margin: 30px auto;
    width: 30vw;
    padding: 20px;
    background-color: #010f18;
}
.date{
    display: flex;
    gap: 19vw;
    color: #fff;
}
.city-name{
    margin-top: 2vh;
    color: #fff;
}
.temp-info{
    display: flex;
    color: #fff;
    margin-top: 2vh;
    gap: 2vw;
}
.data_hide{
    display: none;
}
